### This script helps concatenating data files from multiple data folders under your local path
- Data path structures may look like this: Data folder--> Sub folder1/SF2/SF3... --> data files (see template)

#### Zening Duan, Dec 20, 2022

In [1]:
import pandas as pd
import re
import os

In [2]:
#Read a file to create an empty dataframe for merging
path = '/Users/ze/Desktop/Template/' #replace with your local data path
data = pd.read_csv(path + 'Jan data/data_file_Jan_1.csv') #replace with a data file name/path; e.g., 'Jan data/data_file_Jan_1.csv'
data_merge= pd.DataFrame(columns = data.columns)
data_merge

Empty DataFrame
Columns: [Column A, Column B, Column C]
Index: []

In [6]:
dayfiles = ['Jan data','Feb data' ]#replace with your local sub data folders; e.g., 'Jan data','Feb data' 
CommonName = 'data_file_' #replace with the common part in the target data file names; e.g., 'data_file_'

#Start to merge
length = 0

for dayfile in dayfiles:
    
    path = '/Users/ze/Desktop/Template/' + dayfile + '/'

    #Merge Data
    print( '---------------------------------------------------------')
    print('Folder: ', dayfile)
    
    for root, dirs, files in os.walk(path):
        
        for filename in files:
            
            if CommonName in filename and '._' not in filename:
                print('File: ', filename)
                    
                #read data
                data_new = pd.read_csv(path + filename)

                data_merge = pd.concat([data_merge, data_new], ignore_index=True, sort= True)

                length += len(data_new)

    print(length == len(data_merge))             
    print( 'Total Volume is: ', length)

---------------------------------------------------------
Folder:  Jan data
File:  data_file_Jan_2.csv
File:  data_file_Jan_1.csv
True
Total Volume is:  10
---------------------------------------------------------
Folder:  Feb data
File:  data_file_Feb_1.csv
File:  data_file_Feb_2.csv
True
Total Volume is:  20

In [7]:
data_merge
#Note that the data files were not merged in a sequential order. Resort data after merging could be necessary.

   Column A Column B Column C
0         6        F        f
1         7        G        g
2         8        H        h
3         9        J        j
4        10        K        k
5         1        A        a
6         2        B        b
7         3        C        c
8         4        D        d
9         5        E        e
10       11        L        l
11       12        M        m
12       13        N        n
13       14        O        o
14       15        P        p
15       16        Q        q
16       17        R        r
17       18        S        s
18       19        T        t
19       20        U        u